body {
  background: #ddeefc;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;

  &:focus {
    outline: none;
  }
}

img {
  width: 100%;
  height: 100%;
}

.flipCard {
  transform: perspective(2000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
}

.main {
  &__wrapper {
    position: relative;
    max-width: 570px;
    margin: -70px auto;
    margin-bottom: 50px;
  }

  .card {
    position: relative;
    z-index: 3;
    max-width: 450px;
    height: 270px;
    width: 100%;
    background-color: transparent;
    transform: translate(14%, 50%);
    border: none;

    .card-item {
      position: relative;
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 0.8s cubic-bezier(0.71, 0.03, 0.56, 0.85);
      background-color: transparent;
      border: none;

      .card-item--front {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-color: black;
        background-image: url('../images/13330926_original.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
      }

      .card-item--back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-color: rgb(67, 65, 65);
        transform: perspective(1000px) rotateY(-180deg) rotateX(0deg) rotate(0deg);
        border-radius: 10px;
      }



      .front {
        &__wrapper {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 22px 15px;
          text-shadow: 7px 6px 10px rgba(14, 42, 90, 0.8);
        }

        .top {
          font-size: 20px;
          color: white;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 80px;

          &__chip {
            height: 50px;
            width: 60px;
          }

          &__type {
            height: 50px;
            width: 80px;
          }
        }

        &__number {
          font-size: 20px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          overflow: hidden;
          margin-bottom: 20px;
        }

        &__numberItem {
          color: white;
          width: 16px;

          &.--hidden {
            opacity: 0;
            width: 30px;
          }
        }

        &__bottom {
          color: white;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .bottom {
          .holder {
            &__title {
              opacity: 0.7;
            }
          }

          .date {
            &__title {
              opacity: 0.7;
            }
          }
        }
      }

      .back {

        &__wrapper {
          display: flex;
          flex-direction: column;
        }

        &__badge {
          width: 100%;
          background-color: black;
          height: 55px;
          margin-top: 35px;
          margin-bottom: 20px;
        }

        &__cvv {
          width: 95%;
          margin: 0 auto;
          text-align: right;
        }

        .cvv {
          &__title {
            color: white;
          }

          &__band {
            background-color: white;
            height: 40px;
            border-radius: 3px;
            padding: 10px;
          }
        }

        &__type {
          position: relative;
          margin: 20px 80%;
          width: 80px;
        }
      }
    }
  }

  .form {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    background-color: white;
    margin: 0 auto;
    border: 1px solid black;
    //margin-top: 150px;
    background: #fff;
    box-shadow: 0 30px 60px 0 rgb(90 116 148 / 40%);
    border-radius: 10px;

    &__container {
      width: 100%;
      margin-top: 150px;
      padding: 10px 20px;
    }

  }

  .slide-fade-up-enter-active {
    transition: all 0.25s ease-in-out;
    transition-delay: 0.1s;
    position: relative;
  }

  .slide-fade-up-leave-active {
    transition: all 0.25s ease-in-out;
    position: absolute;
  }

  .slide-fade-up-enter {
    opacity: 0;
    transform: translateY(15px);
    pointer-events: none;
  }

  .slide-fade-up-leave-to {
    opacity: 0;
    transform: translateY(-15px);
    pointer-events: none;
  }

  .slide-fade-right-enter-active {
    transition: all 0.25s ease-in-out;
    transition-delay: 0.1s;
    position: relative;
  }

  .slide-fade-right-leave-active {
    transition: all 0.25s ease-in-out;
    position: absolute;
  }

  .slide-fade-right-enter {
    opacity: 0;
    transform: translateX(10px) rotate(45deg);
    pointer-events: none;
  }

  .slide-fade-right-leave-to {
    opacity: 0;
    transform: translateX(-10px) rotate(45deg);
    pointer-events: none;
  }
}